<html>
    <head>
        {% if title %}
        <title>{{ title }} - Successful Hip-Hop Artists</title>
        {% else %}
        <title>Successful Hip-Hop Artists</title>
        {% endif %}
    </head>
    <body>
        <div>Hip-Hop Artists
            <a href="/index">Home</a>
            <a href="/artistList">List of Artists</a>
            <a href="/createArtist">Create New Artist</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
