{% extends "base.html" %}

{% block content %}
    <h1> Create New Artist </h1>
    <form action="" method="post" novalidate>
        {{ createForm.hidden_tag() }}
         <p>
            {{ createForm.name.label }}<br>
            {{ createForm.name(size=30) }}<br>
            {% for error in createForm.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>
            {{ createForm.birth.label }}<br>
            {{ createForm.birth(size=30) }}<br>
            {% for error in createForm.birth.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>
            {{ createForm.hometown.label }}<br>
            {{ createForm.hometown(size=30) }}<br>
            {% for error in createForm.hometown.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

            <p>
            {{ createForm.description.label }}<br>
            {{ createForm.description(size=100) }}<br>
            {% for error in createForm.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ createForm.submit() }}</p>
    </form>
{% endblock %}