{% extends "base.html" %}

{% block content %}
    <h1> Welcome {{ user.username }}! </h1>
    <div> <p> This is our application for some of the greatest and most popular hip-hop artists of the present, and the past. This site will have a page dedicated to containing a list of the artists that we will mention, designated links to pages that will
    have information on each artist, and a page where a new artist can be added. <br> <br> Each artist will information displayed, whether it is
    biographical, career, or current information</p></div>
{% endblock %}
